<div
  class="flex justify-center bg-base-200 h-64 border-b-4 border-primary rounded-b-lg p-4"
>
  <div class="hero-content flex-col lg:flex-row gap-10">
    <div>
      <h2 class="text-5xl font-bold">Barein GP</h2>
      <p class="text-center badge badge-primary">13 ABR 2025</p>
    </div>
    <div class="grid auto-cols-max grid-flow-col gap-5 text-center">
      <div class="flex flex-col">
        <span class="countdown font-mono text-5xl">
          <span style="--value: 15" aria-live="polite" aria-label="15">15</span>
        </span>
        dias
      </div>
      <div class="flex flex-col">
        <span class="countdown font-mono text-5xl">
          <span style="--value: 10" aria-live="polite" aria-label="10">10</span>
        </span>
        horas
      </div>
      <div class="flex flex-col">
        <span class="countdown font-mono text-5xl">
          <span style="--value: 24" aria-live="polite" aria-label="24">24</span>
        </span>
        min
      </div>
      <div class="flex flex-col">
        <span class="countdown font-mono text-5xl">
          <span style="--value: 59" aria-live="polite" aria-label="59">59</span>
        </span>
        seg
      </div>
    </div>
  </div>
</div>
